<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://yuiter.com/" target="_blank">
        <img src="../favicon.ico" alt="logo">
        <h1>Ingos Admin</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/analysis">分析页</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/monitor">驾驶舱</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/workplace">工作台</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="表单页" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>基础表单</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>分布表单</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>高级表单</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <!-- 左侧菜单展开、关闭按钮 -->
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>

        <!-- 顶部右侧菜单 -->
        <div class="navbar-menu">
          <span class="navbar-menu-item" (mouseenter)="controlAvatarMenu(true)" (mouseleave)="controlAvatarMenu(false)">
            <a nz-dropdown [nzDropdownMenu]="menu" [nzVisible]="showAvatarMenu">
              <nz-avatar nzIcon="user" class="navbar-avatar-image" [nzShape]="'square'"></nz-avatar>
              <span class="navbar-avatar-account">Administer</span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>
                  <i nz-icon nzType="user" nzTheme="outline"></i>
                  个人中心
                </li>
                <li nz-menu-divider></li>
                <li nz-menu-item>
                  <i nz-icon nzType="logout" nzTheme="outline"></i>
                  退出登录
                </li>
              </ul>
            </nz-dropdown-menu>
          </span>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet>
        </router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
